Repository dasoncheng/grpc-chromium: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: update
  README.md
  package.json
  protos/grpc-chromium.proto
  src/client.ts
  src/main.ts
  src/services/grpc-chromium.ts
Due: prettier --write, eslint --fix

feat: pkg remove
  package.json
Due: prettier --write

feat: rename
  protos/grpc-chromium.proto
  src/client.ts
  src/main.ts
Due: prettier --write, eslint --fix

feat: update
  src/utils/playwright.ts
Due: prettier --write, eslint --fix

feat: update
  .gitignore
  .vscode/settings.json
  src/example.ts
Due: prettier --write, eslint --fix

feat: update
  src/main.ts
  src/services/grpc-chromium.ts
  src/utils/playwright.ts
Due: prettier --write, eslint --fix

feat: update
  src/client.ts
  src/main.ts
  src/utils/playwright.ts
Due: prettier --write, eslint --fix

feat: update image source
  Dockerfile
Due: none

feat: update
  src/client.ts
  src/example.ts
Due: prettier --write, eslint --fix

feat: 添加页面重定向（跳转）的支持
  .npmrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  protos/grpc-chromium.proto
  src/client.ts
  src/main.ts
  src/utils/playwright.ts
Due: prettier --write, eslint --fix

doc: 构建文档更新
  README.md
  package.json
Due: prettier --write

feat: playwright镜像版本恢复
  Dockerfile
Due: none

feat: 添加超时参数
  .gitignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  protos/grpc-chromium.proto
  src/client.ts
  src/main.ts
  src/utils/playwright.ts
Due: prettier --write, eslint --fix

feat: 并发请求时log信息增加唯一ID标识
  package-lock.json
  package.json
  src/client.ts
  src/utils/playwright.ts
Due: prettier --write, eslint --fix

feat: 增加文件缓存历史
  .gitignore
  .vscode/launch.json
  output/.gitkeep
  src/main.ts
  src/utils/cache.ts
Due: prettier --write, eslint --fix

feat: sdk和环境版本锁定；补充docker镜像链接
  Dockerfile
  README.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,json,html,scss}
  eslint --fix: any of: *.{ts,tsx}
